<!DOCTYPE html>
<html>

<head>
    <title>Notemaster</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/noteMaster.css">
</head>

<body>
    <div id="app" class="">
        <h1>
            {{ title }}
        </h1>

        <div class="form">
            <div class="form-group">
                <label for="">Judul Note</label>
                <input class="form-control" type="text" v-model="note.title">
            </div>
            <div class="form-group">
                <label for="">Teks Isi Note</label>
                <textarea class="form-control" v-model="note.text"></textarea>
            </div>
            <button type="button" class="btn btn-primary" @click="addNote">Submit</button>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'NoteMaster',
                note: {
                    title: '',
                    text: ''
                },
                notes: [{
                    title: 'Berangkat Karimun',
                    text: 'Wah di sana sih katanya keren, pengen ke sana wkwkwk',
                    date: new Date(Date.now()).toLocaleString()
                }]
            },
            methods: {
                addNote() {
                    let {
                        text,
                        title
                    } = this.note
                    this.notes.push({
                        text,
                        title,
                        date: new Date(Date.now()).toLocaleString()
                    })
                }
            }
        })
    </script>
</body>

</html>
